In [0]:
!pip install nk225op

In [2]:
#ex :　最新の日経２２５清算値データを取得
#（２月限と３月限、　権利価格20500～20750）


from nk225op import nk225op as nk

nk([201902,201903] , [20500,20750])

           PRICE       IV
lb
02/C20500    400  22.9754
02/C20625    285  19.9363
02/C20750    180  17.3610
03/C20500    590  16.2182
03/C20625    500  15.6328
03/C20750    420  15.0987
02/P20500     12  18.3629
02/P20625     21  16.2822
02/P20750     38  14.0248
03/P20500    220  15.7556
03/P20625    255  15.1895
03/P20750    300  14.8030