<a href="https://colab.research.google.com/github/zaq9/nk225op/blob/master/doc/eg_nk225op.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install git+https://github.com/zaq9/nk225op

In [4]:
#ex :　最新の日経２２５清算値データを取得
#（２月限と３月限、　権利価格20500～20750）


from nk225op import nk225op as nk

nk([201902,201903] , [20500,20750])

           PRICE       IV
lb
02/C20500    340  18.3289
02/C20625    260  17.5826
02/C20750    195  17.2045
03/C20500    545  17.5902
03/C20625    470  17.2074
03/C20750    395  16.6239
02/P20500    175  18.2976
02/P20625    225  17.9199
02/P20750    300  18.6512
03/P20500    410  18.1875
03/P20625    460  17.7986
03/P20750    515  17.4041